<header class="header fixed-top">	  
  <div class="branding docs-branding">
      <div class="container-fluid position-relative py-2">
          <div class="docs-logo-wrapper">
            <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon me-2" src="assets/images/logo.png" alt="logo"><span class="logo-text">{{title1}}<span class="text-alt">{{title2}}</span></span></a></div>    
          </div><!--//docs-logo-wrapper-->
        <div class="docs-top-utilities d-flex justify-content-end align-items-center">

    <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
      <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
          </ul><!--//social-list-->
        </div><!--//docs-top-utilities-->
      </div><!--//container-->
  </div><!--//branding-->
</header><!--//header-->
<div class="page-header theme-bg-dark py-5 text-center position-relative">
  <div class="theme-bg-shapes-right"></div>
  <div class="theme-bg-shapes-left"></div>
  <div class="container">
    <h1 class="page-heading single-col-max mx-auto">Patterns</h1>
    <div class="page-intro single-col-max mx-auto">Everything you need to know about prompt patterns online.</div>
    <!-- <div class="main-search-box pt-3 d-block mx-auto">
            <form class="search-form w-100">
              <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
              <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div> -->
  </div>
</div><!--//page-header-->
<div class="page-content">
  <div class="container">
    <div class="docs-overview py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-map-signs"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Introduction</span>
              </h5>
              <div class="card-text">
                {{intro_text}}
              </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-arrow-down"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">What is a Prompt ? </span>
              </h5>
              <div class="card-text">
                {{prompt}}
              </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-box fa-fw"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Prompt patterns</span>
              </h5>
              <div class="card-text">
                {{prompt_patterns}}						    
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-cogs fa-fw"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Persona pattern</span>
              </h5>
              <div class="card-text">
                {{persona_pattern}}						  
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-tools"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Question refinement pattern</span>
              </h5>
              <div class="card-text">
                {{question_refinement}}
              </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-laptop-code"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Cognitive verifier pattern</span>
              </h5>
              <div class="card-text">
                {{cognitive_verifier}}
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-tablet-alt"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Audience persona pattern</span>
              </h5>
              <div class="card-text">
                {{audience_persona}}					    
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-book-reader"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">Resources</span>
              </h5>
              <div class="card-text">
                Section overview goes here. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.						    
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="theme-icon-holder card-icon-holder me-2">
                    <i class="fas fa-lightbulb"></i>
                  </span><!--//card-icon-holder-->
                  <span class="card-title-text">FAQs</span>
              </h5>
              <div class="card-text">
                Section overview goes here. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.						    
            </div>
            </div><!--//card-body-->
          </div><!--//card-->
        </div><!--//col-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//container-->
</div><!--//page-content-->
<footer class="footer">
  <div class="footer-bottom text-center py-5">
    <!-- <ul class="social-list list-unstyled pb-4 mb-0">
      <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li> 
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
    </ul> -->
    <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link">Sathyesh</a> for prompts lovers</small>
  </div>
</footer>